<h1>Articles Search</h1>

<%= form_for search_path, method: :get do |f| %>
  <p>
    <%= f.label "Search for" %>
    <%= text_field_tag :q, params[:q], id: "search" %>
    <%= submit_tag "Go", name: nil %>
  </p>
<% end %>
<% if @articles.try(:suggestions) %>
<div>
Do you mean
  <% @articles.try(:suggestions).each do |a| %>
    <b><%= a %></b>
  <% end %>
</div>
<% end %>
<% if @articles.try(:with_highlights) %>
<ul>
  <% @articles.with_highlights.each do |article, highlights|%>
  <li><h3><%= link_to raw(highlights[:title]), article_path(article) %></h3></li>
  <% end %>
</ul>
<% end %>